@import "tailwindcss";

@theme {
  --color-dark: #282830;
  --color-outline: #e9e9e9;
  --color-bg-outline: #f9f9f9;
  --color-ui-yellow: #cdcd61;
  --color-ui-green: #67cd61;
  --color-ui-red: #db4242;
}
